* {
	box-sizing: border-box;
}
body {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.header {
	padding: 8px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: 800;
	background-color: #1f2937;
	
}

.footer {
	background-color: #1f2937;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	color: #f9faf8;
}
h1 {
	color: #f9faf8;
	font-size: 48px;
	font-weight: 900;
}

p {
	font-size: 18px;
	color: #e5e7eb;
}
button {
	background-color: #3882f6;
	border-radius: 10px;
	padding: 20px;
	font-size: 18px;
	width: 150px;
	color: white;
}

.container {
	flex: 1;
	display: flex;
	padding: 200px;
	justify-content: space-between;
	align-items: center;
	gap: 200px;
	background-color: #1f2937;
}
.about {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 600px;
	margin-right: 600px;
}

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	border-radius: 4px;
	padding: 30px;
}

.quote {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #e5e7eb;
	padding-left: 200px;
	padding-right: 200px;
}

.signup {
	display: flex;
	margin: 200px;
	justify-content: space-around;
	align-items: center;
	gap: 70px;
	background-color: #3882f6;
	border-radius: 20px;
	padding: 30px;
	color: white;
}

h2.text {
	padding: 200px;
	font-size: 36px;
	font-style: italic;
	color: #1f2937;
	font-weight: lighter;
}

h2 {
	font-size: 36px;
	font-weight: 800;
}
.items {
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	border-radius: 10px;
	border: 3px solid #3882f6;
}
.items h2 {
	font-size: 18px;
	font-weight: lighter;
}

.left-logo {
	font-size: 24px;
	color: #f9faf8;
	display: flex;
}

ul {
	list-style-type: none;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 30px;
}

a {
	text-decoration: none;
	color: #e5efeb;
	font-size: 18px;
}
