* {
	box-sizing: border-box;
}
body {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header {
	padding: 8px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: 800;
	background-color: #1f2938;
	position: fixed; /* Make it stick/fixed */
	width: 100%; /* Full width */
	transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.footer {
	background-color: #1f2937;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	color: #f9faf8;
}
h1 {
	color: #f9faf8;
	font-size: 48px;
	font-weight: 900;
}

p {
	font-size: 18px;
	color: #e5e7eb;
}
button {
	background-color: #3882f6;
	border-radius: 10px;
	padding: 20px;
	font-size: 18px;
	width: 150px;
	color: white;
}

.container {
	flex: 1;
	display: flex;
	padding: 200px;
	justify-content: space-between;
	align-items: center;
	gap: 200px;
	background-color: #1f2937;
}
.about {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 600px;
	margin-right: 600px;
}

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	border-radius: 4px;
	padding: 30px;
}
.card-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.quote {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #e5e7eb;
	padding-left: 200px;
	padding-right: 200px;
}

.info{
	margin-top: 160px;
}

.top1{
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: justify;
	margin: 300px;
	bottom: 0;
	flex-direction: column;
	color: #1f2937;
	
}

.top1 h2{
	font-weight: lighter;

}
.contact{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.top2{
	display: flex;
	gap: 200px;
	align-items: center;
	justify-content: center;
}

form p, form h2 {
	text-align: center;
}



 .top2 p{
	color: black;

}

.btn1{
	color: #1f2937;
}


.main{
	border: 3px solid #1f2937;
	border-radius: 10px;
}
.second p{
	color: black;
	font-size: 18px;
}
.signup {
	display: flex;
	margin: 200px;
	justify-content: space-around;
	align-items: center;
	gap: 70px;
	background-color: #3882f6;
	border-radius: 20px;
	padding: 30px;
	color: white;
}

.container-1 {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

.container-2 {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 200px;
	gap: 80px;
}

.second{
	color: black;
	padding: 10px;
}
h2.text {
	padding: 200px;
	font-size: 36px;
	font-style: italic;
	color: #1f2937;
	font-weight: lighter;
}

h2 {
	font-size: 36px;
	font-weight: 800;
}
.items {
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.img-list {
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
.items h2 {
	font-size: 18px;
	font-weight: lighter;
}

.left-logo {
	font-size: 24px;
	color: #f9faf8;
	display: flex;
}

ul {
	list-style-type: none;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 30px;
}

a {
	text-decoration: none;
	color: #e5efeb;
	font-size: 18px;
}
li:hover{
	background-color: transparent;
	border: 2px solid white;
	padding: 10px;
}

.btnsub{
	padding: 8px;
	width: 100px;
margin: 3px;
}

form{
	padding: 20px;
	width: 500px;
	height: 650px;
}

input {
	width: 500px;
	height: 40px;
	margin: 3px;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid black;
}

input.mess{
	height: 200px;
}


.room-container{
	display: flex;
	flex: 1;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	gap: 45px;
	padding: 20px;
	margin-top: 23px;
}


.room1 h1{
	color: black;
}


.about{
	flex: 1;
}

.items p{
	color: black;
	font-weight: lighter;
}

.items button{
	width: 200px;
	height: 50px;
	padding: 10px;
}

.items img{
	border-radius: 10px;
	border: 3px solid #3882f6;
}